.profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.profile-picture {
    border-radius: 50%;
    border: 2px solid #000;
    width: 200px;
}