<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Redução de Custos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo-principal">
    <h4>-Reduzir gastos gerais </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dignissimos quaerat id totam similique iure delectus quidem quos, recusandae hic ducimus perferendis, velit quibusdam distinctio facilis iusto nam, nulla repudiandae.</p>
    <h4>- Reduzir gastos de transporte</h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et voluptatem rerum perferendis consequuntur dignissimos, fuga beatae veritatis enim perspiciatis repellendus ea, hic nobis necessitatibus asperiores inventore magnam excepturi, laudantium non.</p>
  </div>
</ion-content>
