<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Status Plantações (puxar value da cultura escolhida (cadastro de dados) para mostrar aqui e ter os conteúdos com base na cultura)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-title>Cultura - (cultura selecionada)</ion-card-title>
      <ion-card-content>Cultura que o usuário cadastrar os dados</ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ion-card-header>
      Clima Ideal
    </ion-card-header>
    <ion-card-content>
       Temperatura Ideal: yº
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Tempo para Colheita
    </ion-card-header>
    <ion-card-content>
      A plantação estará ideal para a colheita em ... dias (data)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Estação do Ano - Plantio
    </ion-card-header>
    <ion-card-content>
      Sua Cultura está sendo plantada em uma estação benéfica/maléfica para a cultura
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Estação do Ano - Colheita
    </ion-card-header>
    <ion-card-content>
      Sua Cultura está prevista para a colheita em uma estação benéfica/maléfica para a cultura
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      Preparação do Solo
    </ion-card-header>
    <ion-card-content>
      Para essa plantação, o solo deve estar ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Irrigação e Nutrição recomendada
    </ion-card-header>
    <ion-card-content>
      A irrigação recomendada para essa plantação é ... e a Nutrição deve ser ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Pragas
    </ion-card-header>
    <ion-card-content>
      Para a sua colheita, temos esses tipos de pragas:
      <ion-list>
        <ion-item>
          <ion-label>Praga 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Praga 2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Praga 3</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Controle de Pragas
    </ion-card-header>
    <ion-card-content>
      Para um controle de pragas mais eficiente, deve ser utilizado ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Previsão Colheita
    </ion-card-header>
    <ion-card-content>
      Sua plantação deverá estar pronta para a colheita em x dias
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Colheita
    </ion-card-header>
    <ion-card-content>
      Para um maior proveito da colheita, você deve ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Armazenamento
    </ion-card-header>
    <ion-card-content>
      Para armazenar o produto, é necessário ...  
    </ion-card-content>
  </ion-card>
</ion-content>
