<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Status da Plantação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informações Gerais</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Cultura:</ion-label>
        <ion-text>Plantação de ...</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Localização:</ion-label>
        <ion-text>setor da fazenda</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Área Plantada:</ion-label>
        <ion-text>x hectares</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Data de Plantio:</ion-label>
        <ion-text>dia : ...</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crescimento da Planta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img alt="" src="https://media.discordapp.net/attachments/1116018805227917344/1118305550090903704/graph-png.webp?" style="width: 250px; height: 200px;"/>  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Condições Climáticas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Temperatura:</ion-label>
        <ion-text>x°C</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Umidade:</ion-label>
        <ion-text>40%</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Precipitação:</ion-label>
        <ion-text>x mm</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Intensidade de Luz Solar:</ion-label>
        <ion-text>x</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Previsão de Colheita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Previsão:</ion-label>
        <ion-text>em aproximadamente x dias</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recomendações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- adicionar recomendações e ações para os cuidados com a plantação -->
    </ion-card-content>
  </ion-card>

  <!-- Outras informações -->
</ion-content>
