<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Status</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Selecione sua Cultura</ion-label>
      </ion-item>
      <!--colocar para criar conforme o usuário criar os status na página Cadastro-dados-->
      <div class="ion-padding" (click)="exibirstatus()"slot="content">Algodão</div> 
      <div class="ion-padding" (click)="exibirstatus()"slot="content">Soja</div>
    </ion-accordion>
    </ion-accordion-group>
  
</ion-content>
