
<ion-header>

  <ion-toolbar>

    <ion-title>Início</ion-title>

  </ion-toolbar>

</ion-header>

 

<ion-content [fullscreen]="true">

  <ion-card class="card-usuario">

    <div>

      <img src="../assets/usuario.jpg" alt="" />

      <ion-card-title>Olá, (nome)</ion-card-title>

    </div>

    <ion-card-content>Seja Bem-vindo ao software da AGRA</ion-card-content>

  </ion-card>

 

  <div class="testeBI">

    <p>Aparecer BI feito pelo Fernando</p>

    <iframe title="Report Section" width="240" height="200" src="https://app.powerbi.com/view?r=eyJrIjoiN2NlMzQ0NzctMGVjZi00YzQ5LWIxNzktNDNmZmE2OWZiOWUzIiwidCI6IjExZGJiZmUyLTg5YjgtNDU0OS1iZTEwLWNlYzM2NGU1OTU1MSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

  </div>

   

  <div class="PosBotao">

    <ion-card class="btn-home">

      <ion-card-header (click)="exibirCadastroDados()">

        <ion-card-title>Cadastro de Dados</ion-card-title>

      </ion-card-header>

    </ion-card>

 

    <ion-card class="btn-home">

      <ion-card-header (click)="exibirsugestao()">

        <ion-card-title>Sugestões</ion-card-title>

      </ion-card-header>

    </ion-card>

 

    <ion-card class="btn-home">

      <ion-card-header (click)="exibirreducao()">

        <ion-card-title>Redução de Custos</ion-card-title>

      </ion-card-header>

    </ion-card>

  </div>

</ion-content>

Power BI Error