<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="" alt="">
      <ion-card-title>Notícias</ion-card-title>
      <ion-card-subtitle>tema da notícia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Pequena descrição da notícia, resumida, para despertar interesse no leitor e possivelmente gerar cliques.
    </ion-card-content>
  </ion-card> 

  <ion-card>
    <ion-card-header>
      <img src="" alt="">
      <ion-card-title>Notícias</ion-card-title>
      <ion-card-subtitle>tema da notícia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Pequena descrição da notícia, resumida, para despertar interesse no leitor e possivelmente gerar cliques.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="" alt="">
      <ion-card-title>Notícias</ion-card-title>
      <ion-card-subtitle>tema da notícia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Pequena descrição da notícia, resumida, para despertar interesse no leitor e possivelmente gerar cliques.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="" alt="">
      <ion-card-title>Notícias</ion-card-title>
      <ion-card-subtitle>tema da notícia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Pequena descrição da notícia, resumida, para despertar interesse no leitor e possivelmente gerar cliques.
    </ion-card-content>
  </ion-card>

</ion-content>
