<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sugestões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="conteudo-principal">
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Medidas Estratégicas para o Mercado Agropecuário</ion-card-title>
        <ion-card-subtitle>O mercado agrícola está passando por uma transformação significativa à medida que as demandas
          por alimentos e recursos naturais continuam a crescer. Nesse contexto, a redução de custos se tornou uma
          prioridade vital para os agricultores e produtores agropecuários. A busca por eficiência econômica e
          sustentabilidade tem impulsionado a adoção de medidas estratégicas que visam otimizar processos, minimizar
          desperdícios e maximizar os recursos disponíveis. Aqui, exploramos algumas das principais medidas a serem
          tomadas para alcançar a tão desejada redução de custos no mercado agro.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label text-wrap>
              <h5> Tecnologia de Precisão e Agricultura Digital:</h5>
              <p>A tecnologia de precisão e a agricultura digital têm revolucionado a maneira como as operações
                agrícolas são conduzidas. A coleta e análise de dados em tempo real<br> permitem a tomada de decisões mais
                informadas sobre o uso de insumos, como fertilizantes e defensivos
                agrícolas. O emprego de drones,<br>
                sensores e sistemas de monitoramento contribui para identificar áreas que requerem intervenções
                específicas, reduzindo o uso excessivo de recursos em áreas desnecessárias.</p>
            </ion-label>
          </ion-item>

          <ion-item>
            
            <ion-label text-wrap> <h5> Uso Eficiente de Recursos Hídricos:</h5>
              <p>A escassez de água é uma preocupação global, e a gestão eficiente desse recurso é fundamental para a
                sustentabilidade agrícola. A implementação de sistemas de irrigação<br>
                 inteligente, como gotejamento e pivô
                central, ajuda a reduzir o desperdício de água por evaporação e lixiviação. Além disso, a captação e
                armazenamento de água da chuva podem<br> ser medidas eficazes para minimizar os custos associados à irrigação.</p></ion-label>
          </ion-item>

          <ion-item>
            <ion-label text-wrap><h5> Rotação de Culturas e Manejo Integrado de Pragas:</h5>
              <p>A monocultura pode levar ao aumento de doenças e pragas, resultando em maiores gastos com defensivos
                agrícolas. A rotação de culturas ajuda a interromper os ciclos de doenças e insetos,<br> reduzindo a necessidade
                de produtos químicos. O manejo integrado de pragas envolve a combinação de táticas biológicas, químicas e
                culturais para manter as populações de pragas sob<br> controle de maneira mais eficaz e econômica.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h5> Energias Renováveis e Autossuficiência Energética:</h5>
              <p>A eletricidade é um custo operacional significativo na agricultura. Investir em energias renováveis, como
                painéis solares e turbinas eólicas, pode permitir que as propriedades agrícolas se tornem<br> autossuficientes em
                termos energéticos. O excedente de energia pode ser vendido de volta à rede elétrica, gerando uma fonte
                adicional de receita.</p></ion-label>
          </ion-item>
          <ion-item  >
            <ion-label text-wrap><h5> Compartilhamento de Equipamentos e Infraestrutura:</h5>
              <p>A cooperação entre agricultores da mesma região para o compartilhamento de equipamentos e infraestrutura pode
                resultar em economias significativas. Máquinas agrícolas caras, como tratores<br> e colheitadeiras, podem ser
                compartilhadas entre várias propriedades, diluindo os custos de aquisição e manutenção.</p></ion-label>
          </ion-item>

          <ion-item  >
            <ion-label text-wrap><h5> Treinamento e Capacitação Constantes:</h5>
              <p>Investir no treinamento e capacitação dos colaboradores pode resultar em maior eficiência operacional.
                Funcionários bem treinados estão mais aptos a operar equipamentos de maneira eficiente,<br> identificar problemas
                precocemente e adotar práticas agrícolas modernas que visam a redução de custos.</p></ion-label>
          </ion-item>
          <ion-item  >
            <ion-label text-wrap><p>Em resumo, a redução de custos no mercado agropecuário é uma meta alcançável por meio da implementação
              estratégica de diversas medidas. A adoção de tecnologias avançadas, práticas<br> sustentáveis e a otimização de
              recursos são pilares fundamentais nesse processo. Ao abraçar essas abordagens, os produtores podem não apenas
              melhorar sua viabilidade financeira, mas<br> também contribuir para a preservação do meio ambiente e a segurança
              alimentar global.</p></ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <br>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Tipos de Solo</ion-card-title>
        <ion-card-subtitle>Cada tipo de solo tem suas próprias características únicas, vantagens e desvantagens, e a escolha do tipo de solo
          certo para suas plantas dependerá das necessidades específicas das culturas que você deseja cultivar.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label text-wrap>
              <h6>Solo Arenoso:</h6>
              <p>O solo arenoso é caracterizado por suas partículas de areia maiores e é conhecido por sua excelente drenagem.
      Isso significa que a água passa rapidamente através do solo, tornando-o propício<br> para o cultivo de plantas que não
      gostam de ter raízes constantemente úmidas. No entanto, o solo arenoso também tem baixa capacidade de retenção de
      nutrientes, o que significa que as<br>  plantas podem precisar de fertilizantes adicionais para crescer de forma
      saudável. Culturas como cenouras e batatas se saem bem em solos arenosos devido à facilidade de crescimento de<br>
      suas raízes.</p>
            </ion-label>
          </ion-item>
         

          <ion-item>
            <ion-label text-wrap> <h6>Solo Argiloso:</h6>
              <p>O solo argiloso é composto por partículas muito pequenas e tem uma textura macia e pegajosa quando molhado. Esse
                tipo de solo retém água muito bem, tornando-o ideal para plantas que<br> requerem umidade constante. No entanto,
                devido à sua alta capacidade de retenção de água, o solo argiloso pode ficar compactado facilmente, o que pode
                dificultar o crescimento das raízes das<br> plantas. Para melhorar a estrutura do solo argiloso, a adição de matéria
                orgânica, como composto, pode ser benéfica. Culturas como milho e feijão prosperam em solos argilosos.</p></ion-label>
          </ion-item>

          <ion-item>
            <ion-label text-wrap><h6>Solo Humoso:</h6>
              <p>O solo humoso é caracterizado por sua riqueza em matéria orgânica decomposta, chamada húmus. Esse tipo de solo é
                geralmente escuro e tem uma textura fofa e rica em nutrientes. O húmus<br> ajuda a reter água, proporcionando um
                ambiente favorável para o crescimento de plantas saudáveis. Além disso, o solo humoso tem uma boa capacidade de
                retenção de nutrientes, tornando-o<br> adequado para uma variedade de culturas. As culturas de hortaliças, como alface
                e tomate, frequentemente se desenvolvem bem em solos humosos devido à abundância de nutrientes disponíveis.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Solo Calcário:</h6>
              <p>O solo calcário é caracterizado por um alto conteúdo de minerais de carbonato de cálcio, tornando-o alcalino.
                Isso significa que o pH do solo é maior do que 7. O solo calcário é geralmente de textura fina e pode ser difícil
                de trabalhar devido à formação de crostas quando seca. No entanto, ele tende a ser bem drenado e é adequado para
                culturas que preferem solos alcalinos, como muitas variedades de frutas, incluindo maçãs e uvas. No entanto, é
                importante monitorar o pH do solo e, se necessário, corrigi-lo com aditivos ácidos para garantir o crescimento
                saudável das plantas.</p></ion-label>
          </ion-item>


        </ion-list>
      </ion-card-content>
    </ion-card>
<br>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pesticidas</ion-card-title>
        <ion-card-subtitle>    <p>Os pesticidas são substâncias químicas amplamente utilizadas na agricultura para proteger as colheitas de pragas,
          doenças e ervas daninhas. Eles desempenham um papel fundamental na garantia da segurança alimentar e na
          maximização da produtividade agrícola. No entanto, o uso responsável e seguro de pesticidas é essencial para
          minimizar os impactos negativos sobre o meio ambiente e a saúde humana.</p>
        </ion-card-subtitle>
        <ion-card-title><h3>Tipos de Pesticidas</h3></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label text-wrap>
             <h5>Herbicidas: </h5> <p>Esses pesticidas são usados para controlar o crescimento de ervas daninhas indesejadas, que
                competem por recursos com as culturas. Eles ajudam a manter os campos limpos e as colheitas saudáveis.</p>
            </ion-label>
          </ion-item>
         

          <ion-item>
            <ion-label text-wrap> <h5>Inseticidas:</h5><p> Destinados ao controle de insetos prejudiciais, como pragas que se alimentam de plantas ou
              transmitem doenças. Os inseticidas são uma ferramenta valiosa na proteção das colheitas contra perdas
              significativas.</p></ion-label>
          </ion-item>

          <ion-item>
            <ion-label text-wrap><h6>Fungicidas:</h6>
              <p> Esses produtos químicos são projetados para prevenir ou tratar doenças fúngicas que podem
                prejudicar as plantas. Eles são usados para manter as culturas livres de infecções.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Nematicidas:</h6>
              <p> Usados principalmente na proteção contra nematoides, que são pequenos vermes que atacam as
                raízes das plantas e prejudicam seu crescimento.</p></ion-label>
          </ion-item>


        </ion-list>
      </ion-card-content>
    </ion-card>

    <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Regulamentações Ambientais</ion-card-title>
        <ion-card-subtitle>    <p>Devemos seguir as Regulamentações Ambientais para proteger o meio ambiente, a saúde humana e os recursos naturais. A adoção de boas práticas ambientais pode trazer diversos benefícios para os agrônomos, como redução de custos, melhoria da produtividade, atração de novos clientes e redução de riscos.</p>
        </ion-card-subtitle>
        <ion-card-title><h3>Algumas regulamentações básicas a serem seguidas:</h3></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label text-wrap>
             <h5>Uso eficiente da água:</h5> <p>A água é um recurso natural escasso, e é importante usar a água de forma eficiente no agronegócio. Isso pode ser feito através de irrigação por gotejamento, controle da evaporação e conservação de água da chuva.</p>
            </ion-label>
          </ion-item>
         

          <ion-item>
            <ion-label text-wrap> <h5>Redução do uso de agrotóxicos:</h5><p>Os agrotóxicos podem causar danos ao meio ambiente e à saúde humana. É importante reduzir o uso de agrotóxicos através da adoção de práticas de manejo integrado de pragas e doenças.</p></ion-label>
          </ion-item>

          <ion-item>
            <ion-label text-wrap><h5>Reciclagem de resíduos:</h5>
              <p>Os resíduos agrícolas, como dejetos de animais e resíduos de colheita, podem ser reciclados e transformados em novos produtos.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Conservação da biodiversidade:</h6>
              <p> A biodiversidade é importante para o equilíbrio do ecossistema. É importante conservar a biodiversidade através da adoção de práticas de manejo sustentável.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Regulação contra desmatamento:</h6>
              <p> Proíbe a importação de produtos agropecuários produzidos em terras desmatadas após 2020.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Regulação sobre o uso de agrotóxicos:</h6>
              <p> Limita o uso de agrotóxicos perigosos e exige que os agrotóxicos sejam registrados e autorizados pela União Europeia antes de serem usados.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Regulação sobre a gestão de resíduos:</h6>
              <p> Exige que os resíduos agrícolas sejam tratados de forma ambientalmente adequada.</p></ion-label>
          </ion-item>

          <ion-item >
            <ion-label text-wrap><h6>Regulação sobre a biodiversidade:</h6>
              <p>Protege a biodiversidade agrícola, incluindo a proteção de espécies ameaçadas de extinção.</p></ion-label>
          </ion-item>
          


        </ion-list>
      </ion-card-content>
    </ion-card>


  </div>

</ion-content>