<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <h4>Coloque o nome da plantação</h4>
    <input type="email" name="nomePlantacao" id=""> 
    <h4>Insirá o arquivo da sua tabela abaixo:</h4>
    <input type="email" name="tabela" id=""> "ngc para inserir tabela - improvisado"
  </div>
  
    
  </ion-content>

