.card-intro {
    padding: 8px;
    background-color: #8BC34A;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-intro ion-card-title {
    color: #fff;
}

.card-intro ion-card-content::before {
    content: '';
    width: 100%;
    display: block;
    background-color: #9CCC65;
    position: absolute;
    height: 2px;
    top: 8px;
    left: 0;
}

.conteudo-principal {
    padding: 0 20px;
}

.conteudo-principal ion-radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conteudo-principal ion-radio-group ion-radio {
    border: 2px solid #D0D5DD;
    border-radius: 50px;
    padding: 4px;
}

.inserir-tabela {
    width: 50%;
}