<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro de Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-title>Cadastro de Dados</ion-card-title>
    <ion-card-content>
      Para conseguirmos entregar as informações neceessárias, insira alguns dados referentes ao seu terreno e sua cultura
    </ion-card-content>
  </ion-card>
  <div class="conteudo-principal">
    <h5>Aplicação CAR</h5>
    <input type="email" name="dadosCAR" id="">

    <div>
      <h5>Tipo de solo</h5>
      <ion-card>
      <ion-radio-group [allowEmptySelection]="true"  [(ngModel)]="tipoSolo">
        <div style="margin-left: 25px;">
          <ion-radio value="arenoso">Arenoso</ion-radio><br />
          <ion-radio value="argiloso">Argiloso</ion-radio><br />
          <ion-radio value="humoso">Humoso</ion-radio><br />
          <ion-radio value="calcário">Calcário</ion-radio>
        </div>
      </ion-radio-group>
    </ion-card>
    </div>


    <h5>Tipo de Cultura</h5>
    <ion-card>
    <ion-list>
      <ion-radio-group  [(ngModel)]="tipoCultura">
        <div style="margin-left: 25px;">
          <ion-radio value="algodao">Algodão</ion-radio><br />
          <ion-radio value="soja">Soja</ion-radio><br />
        </div>
      </ion-radio-group>
    </ion-list>
  </ion-card>


    <h5>Tipo de Pesticidas</h5>
    <ion-card>
    <ion-list>
      <ion-radio-group [(ngModel)]="tipoPesticida">
        <div style="margin-left: 25px;">
          <ion-radio value="herbicidas">Herbicidas</ion-radio><br />
          <ion-radio value="inseticidas">Inseticidas</ion-radio><br />
          <ion-radio value="fungicidas">Fungicidas</ion-radio><br />
          <ion-radio value="nematicidas">Nematicidas</ion-radio><br />
        </div>
      </ion-radio-group>
    </ion-list>
  </ion-card>

    <div>
      <h5>Data de Plantio</h5>
      <ion-item>
        <ion-input type="date" [(ngModel)]="dataPlantio"></ion-input>
      </ion-item>
    </div>
   
    <ion-button expand="block" (click)="salvarDados()"> 
      Criar Status</ion-button>
  </div>
</ion-content>